# Configuración de Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=tu_usuario_aqui
DB_PASSWORD=tu_password_aqui
DB_NAME=foodaware_db

# Configuración del Backend (NestJS)
NESTJS_PORT=3000
NESTJS_BASE_URL=http://localhost:3000

# Configuración del Frontend (Angular)
ANGULAR_PORT=4200
ANGULAR_BASE_URL=http://localhost:4200

# Configuración del Servicio de Inteligencia Artificial (FastAPI)
FASTAPI_PORT=8000
FASTAPI_BASE_URL=http://localhost:8000

# Configuración de JWT
JWT_SECRET=tu_clave_secreta_aqui
