# Configuración de la Base de Datos PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_USER=tu_usuario_aqui
DB_PASSWORD=tu_contraseña_secreta_aqui
DB_NAME=foodaware_db
# Configuración del Backend (NestJS)
PORT=3000
# Configuración del Servicio IA (FastAPI)
PYTHON_API_URL=http://python-service:8000
